{% extends "base.html" %}

{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        {% include "contacts/contacts_blockhead.html" %}
        <div class="nk-block">
            <div class="card card-bordered">
                {% include "contacts/contacts_tab.html" %}
                <div class="card-inner card-inner-lg">
                    <div class="nk-block card card-bordered">
                        <table class="table table-ulogs">
                            <thead class="thead-light">
                                <tr>
                                    <th class="tb-col-os"><span class="overline-title">Name <span class="d-sm-none">/
                                                Job Position</span></span></th>
                                    <th class="tb-col-ip"><span class="overline-title">Job Position</span></th>
                                    <th class="tb-col-time"><span class="overline-title">Email</span></th>
                                    <th class="tb-col-time"><span class="overline-title">Phone</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for child in children %}
                                <tr>
                                    <td class="tb-col-os">{{child.name}}</td>
                                    <td class="tb-col-ip"><span class="sub-text">{{child.function}}</span></td>
                                    <td class="tb-col-time"><span class="sub-text">{{child.email}}</span></td>
                                    <td class="tb-col-action">{{child.phone_no}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- .nk-block-head -->
                </div><!-- .card-inner -->
            </div><!-- .card -->
        </div><!-- .nk-block -->
    </div>
    <!-- footer @s -->
    {% include "footer.html" %}
    <!-- footer @e -->
</div>
{% endblock %}