<ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
        <li class="nav-item">
                {% if partner.is_company %}
                <a class="nav-link" href="{{url_for('contacts.view_contact', slug=partner.slug)}}"><em
                                class="icon ni ni-linux-server"></em></em><span>Company</span></a>
                {% elif partner.is_tenant or partner.is_individual %}
                <a class="nav-link" href="{{url_for('contacts.view_contact', slug=partner.slug)}}"><em
                                class="icon ni ni-user-fill-c"></em><span>Personal</span></a>
                {% endif %}
        </li>
        <li class="nav-item">
                {% if partner.is_company %}
                <a class="nav-link" href="{{url_for('contacts.addresses', slug=partner.slug)}}"><em
                                class="icon ni ni-users-fill"></em><span>Contacts & Addresses</span></a>
                {% elif partner.is_tenant or partner.is_individual %}
                <a class="nav-link" href="{{url_for('contacts.meetings', slug=partner.slug)}}"><em
                                class="icon ni ni-calendar-booking"></em><span>Meetings</span></a>
                {% endif %}
        </li>
        <li class="nav-item">
                {% if partner.is_company %}
                <a class="nav-link" href="{{url_for('contacts.meetings', slug=partner.slug)}}"><em
                                class="icon ni ni-calendar-booking"></em><span>Meetings</span></a>
                {% endif %}
                {% if partner.is_individual and not partner.is_tenant %}
                <a class="nav-link" href="#">
                        <em class="icon ni ni-star-fill"></em>
                        <span>Opportunities</span>
                </a>
                {% endif %}
        </li>
        <li class="nav-item">
                {% if partner.is_company %}
                <a class="nav-link" href="#">
                        <em class="icon ni ni-sign-dollar"></em>
                        <span>Sales</span>
                </a>
                {% endif %}
                {% if partner.is_individual and not partner.is_tenant %}
                <a class="nav-link" href="#">
                        <em class="icon ni ni-sign-dollar"></em>
                        <span>Sales</span>
                </a>
                {% endif %}
        </li>
        <li class="nav-item">
                {% if partner.is_company %}
                <a class="nav-link" href="#">
                        <em class="icon ni ni-edit"></em>
                        <span>Invoiced</span>
                </a>
                {% endif %}
                {% if partner.is_individual and not partner.is_tenant %}
                <a class="nav-link" href="#">
                        <em class="icon ni ni-edit"></em>
                        <span>Invoiced</span>
                </a>
                {% endif %}
        </li>
</ul><!-- .nav-tabs -->