{% extends "base.html" %}

{% block content %}
<style>
    .data-list-s2 .data-head {
        border-bottom: 20px solid #dbdfea !important;
        margin-top: 30px !important
    }

    .pt-1rem {
        padding-top: 1rem
    }
</style>
<div class="nk-content-body">
    <div class="nk-content-wrap">
        {% include "contacts/contacts_blockhead.html" %}
        <div class="nk-block">
            <div class="card card-bordered">
                {% include "contacts/contacts_tab.html" %}
                <div class="card-inner-group">
                    <div class="card-inner card-inner-lg">
                        {% if partner.is_company %}
                        <div class="sp-plan-head">
                            <h5 class="title">
                                {% if partner.company_name %}
                                {{partner.company_name}}
                                {% endif %}
                            </h5>
                        </div>
                        <ul class="pt-1rem row gx-1">
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Phone</h6>
                                <div class="form-group">
                                    {% if partner.phone_no %}
                                    <p>{{partner.phone_no}}</p>
                                    {% else %}
                                    <p>Not yet added</p>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Email</h6>
                                <div class="form-group">
                                    {% if partner.email %}
                                    <p>{{partner.email}}</p>
                                    {% else %}
                                    <p>Not yet added</p>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Website</h6>
                                <div class="form-group">
                                    {% if partner.website %}
                                    <a href="{{partner.website}}" target="_blank">{{partner.website}}</a>
                                    {% else %}
                                    <p>Not yet added</p>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                        <ul class="pt-1rem row gx-1">
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Country</h6>
                                <div class="form-group">
                                    {% if partner.country_id %}
                                    <p>{{partner.country.name}}</p>
                                    {% else %}
                                    <p>Not yet added</p>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">City</h6>
                                <div class="form-group">
                                    {% if partner.city_id %}
                                    <p>{{partner.city.name}}</p>
                                    {% else %}
                                    <p>Not yet added</p>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Postal Address</h6>
                                <div class="form-group">
                                    <p>
                                        {% if partner.postal_code %}
                                        <span>{{partner.postal_code}}&nbsp;-</span>
                                        {% else %}
                                        <span>code&nbsp;-</span>
                                        {% endif %}
                                        {% if partner.postal_address %}
                                        <span>{{partner.postal_address}}</span>
                                        {% else %}
                                        <span>address</span>
                                        {% endif %}
                                    </p>
                                </div>
                            </li>
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Tax Info</h6>
                                <div class="form-group">
                                    {% if partner.tax_id %}
                                    <p>{{partner.tax_id}}</p>
                                    {% else %}
                                    <span>Not yet added</span>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                        {% else %}
                        <div class="sp-plan-head">
                            <h5 class="title">
                                {% if partner.title %}
                                {{partner.title}}
                                {% endif %}
                                {% if partner.name %}
                                {{partner.name}}
                                {% endif %}
                            </h5>
                        </div>
                        <div class="sp-plan-head">
                            <h6 class="title">
                                {% if partner.function %}
                                {{partner.function}}
                                {% endif %}
                                {% if partner.parent.company_name %}
                                -&nbsp;{{partner.parent.company_name}}
                                {% endif %}
                            </h6>
                        </div>
                        <ul class="pt-1rem row gx-1">
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Phone</h6>
                                <div class="form-group">
                                    {% if partner.phone_no %}
                                    <p>{{partner.phone_no}}</p>
                                    {% else %}
                                    <p>Not yet added</p>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Email</h6>
                                <div class="form-group">
                                    {% if partner.email %}
                                    <p>{{partner.email}}</p>
                                    {% else %}
                                    <p>Not yet added</p>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Website</h6>
                                <div class="form-group">
                                    {% if partner.website %}
                                    <a href="{{partner.website}}" target="_blank">{{partner.website}}</a>
                                    {% else %}
                                    <p>Not yet added</p>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                        <ul class="pt-1rem row gx-1">
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Country</h6>
                                <div class="form-group">
                                    {% if partner.country_id %}
                                    <p>{{partner.country.name}}</p>
                                    {% else %}
                                    <p>Not yet added</p>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">City</h6>
                                <div class="form-group">
                                    {% if partner.city_id %}
                                    <p>{{partner.city.name}}</p>
                                    {% else %}
                                    <p>Not yet added</p>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Postal Address</h6>
                                <div class="form-group">
                                    <p>
                                        {% if partner.postal_code %}
                                        <span>{{partner.postal_code}}&nbsp;-</span>
                                        {% else %}
                                        <span>code&nbsp;-</span>
                                        {% endif %}
                                        {% if partner.postal_address %}
                                        <span>{{partner.postal_address}}</span>
                                        {% else %}
                                        <span>address</span>
                                        {% endif %}
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <ul class="pt-1rem row gx-1">
                            <li class="pt-1rem col-sm-4">
                                <h6 class="title">Tax Info</h6>
                                <div class="form-group">
                                    {% if partner.tax_id %}
                                    <p>{{partner.tax_id}}</p>
                                    {% else %}
                                    <span>Not yet added</span>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div><!-- .card -->
        </div><!-- .nk-block -->
    </div>
    <!-- footer @s -->
    {% include "footer.html" %}
    <!-- footer @e -->
</div>

{% endblock %}