{% extends "base.html" %}

{% block content %}
<style>
    .nk-aside {
        display: none;
    }
</style>
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">Your Apps</h3>
                    <div class="nk-block-des text-soft">
                        <p>You have installed {{modules|length }} app(s).</p>
                    </div>
                </div><!-- .nk-block-head-content -->
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                                class="icon ni ni-menu-alt-r"></em></a>
                        <div class="toggle-expand-content" data-content="pageMenu">
                            <ul class="nk-block-tools g-3">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                            data-toggle="dropdown"><em
                                                class="d-none d-sm-inline icon ni ni-filter-alt"></em><span>Filtered
                                                By</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="#"><span>Open</span></a></li>
                                                <li><a href="#"><span>Closed</span></a></li>
                                                <li><a href="#"><span>Onhold</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nk-block-tools-opt"><a href="#" class="btn btn-primary"><em
                                            class="icon ni ni-plus"></em><span>Add Project</span></a></li>
                            </ul>
                        </div>
                    </div><!-- .toggle-wrap -->
                </div><!-- .nk-block-head-content -->
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->
        <div class="nk-block">
            <div class="row g-gs">
                {% for module in modules %}
                <div class="col-sm-6 col-xl-3" onclick="location.href='/{{module.bp_name}}/';" style="cursor: pointer;">
                    <div class="card card-bordered h-100">
                        <div class="card-inner">
                            <div class="project">
                                <div class="project-head">
                                    <a href="/{{module.bp_name}}/" class="project-title">
                                        <div class="project-info">
                                            <h6 class="title">{{module.official_name}}</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="project-details">
                                    <p>{{module.summary}}</p>
                                </div>
                                <div class="project-progress">
                                    <div class="project-progress-details">
                                        <div class="project-progress-task"><em
                                                class="icon ni ni-check-round-cut"></em><span>3 Tasks</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-6 col-xl-3" onclick="location.href='{{url_for('settings.general')}}';"
                    style="cursor: pointer;">
                    <div class="card card-bordered h-100">
                        <div class="card-inner">
                            <div class="project">
                                <div class="project-head">
                                    <a href="{{url_for('settings.general')}}" class="project-title">
                                        <div class="project-info">
                                            <h6 class="title">Settings</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .nk-block -->
    </div>
    <!-- footer @s -->
    {% include "footer.html" %}
</div>
{% endblock %}