<style>
    .modal-dialog {
        max-width: 90% !important;
    }

    @media (min-width: 576px) {
        .modal-body-md {
            padding: 2.25rem 0rem
        }
    }
</style>
<div class="modal fade is-click-inside" tabindex="-1" role="dialog" id="AddPartner">
    <div class="modal-dialog modal-lg is-click-inside" role="document">
        <div class="modal-content is-click-inside">
            <div class="modal-header is-click-inside">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">New: <span class="spn-partner-type">Vendor</span>
                                </h3>
                                <ul class="custom-control-group">
                                    <li>
                                        <div class="custom-control custom-control-sm custom-radio custom-control-pro">
                                            <input type="radio" class="custom-control-input" name="btnRadio"
                                                id="individual">
                                            <label class="custom-control-label" for="individual">Individual</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div
                                            class="custom-control custom-control-sm custom-radio custom-control-pro checked">
                                            <input type="radio" class="custom-control-input" name="btnRadio"
                                                id="company" checked="">
                                            <label class="custom-control-label" for="company">Company</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
            </div>
            <div class="modal-body modal-body-md is-click-inside">
                <div class="nk-block" id="company-block">
                    <div class="card card-bordered">
                        <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                            <li class="nav-item active current-page">
                                <a class="nav-link active" href="#company_info" data-toggle="tab"><em
                                        class="icon ni ni-user-fill-c"></em><span>Company</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contacts" data-toggle="tab"><em
                                        class="icon ni ni-users-fill"></em><span>Contacts &
                                        Addresses</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#meetings" data-toggle="tab"><em
                                        class="icon ni ni-calendar-booking"></em><span>Meetings</span></a>
                            </li>
                        </ul><!-- .nav-tabs -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="company_info">
                                <div class="card-inner">
                                    <h4 class="nk-block-title">Company Information</h4>
                                </div>
                                <div class="card-inner" style="padding-top: 1.5rem;">
                                    <form method="POST">
                                        <input id="csrf_token" name="csrf_token" type="hidden"
                                            value="IjY2NzI1YTE0YzczZTEyODI0OTRhN2I0OTM1OGY4YjZjYjQyYjgwMmQi.YmPjYw.uOXKKb2nOdUN_IwZULHQu84B2-o">
                                        <span class="preview-title-lg overline-title">BASIC INFO</span>
                                        <div class="row gy-4">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="companyname">Company Name</label>
                                                    <div class="form-control-wrap">
                                                        <input class="form-control" id="companyname" name="companyname"
                                                            placeholder="Company Name" type="text" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="phonenumber">Phone Number</label>
                                                    <div class="form-control-wrap">
                                                        <input class="form-control" id="phonenumber" name="phonenumber"
                                                            placeholder="Phone Number" type="text" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="email">Email Address</label>
                                                    <div class="form-control-wrap">
                                                        <input class="form-control" id="email" name="email"
                                                            placeholder="Email Address" type="text" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="website">Website</label>
                                                    <div class="form-control-wrap">
                                                        <input class="form-control" id="website" name="website"
                                                            placeholder="http://..." type="text" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label tags" for="tags">Tags:&nbsp;</label>
                                                    <div class="form-control-wrap">
                                                        <input class="form-control inp_tags" data-role="tagsinput"
                                                            id="tags" name="tags" placeholder="Tags..." type="text"
                                                            value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="preview-hr">
                                        <span class="preview-title-lg overline-title">ADDRESS INFO</span>
                                        <div class="row gy-4">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label">Country</label>
                                                    <div class="form-control-wrap">
                                                        <select id="select_country" name="select_country"
                                                            class="form-select select_country" data-search="on">
                                                            <option value="default_option">Select Country</option>
                                                            {% for country in countries %}
                                                            <option value="{{country.id}}">{{country.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label">City</label>
                                                    <div class="form-control-wrap">
                                                        <select id="select_city" name="select_city"
                                                            class="form-select select_city" data-search="on">
                                                            <option value="default_option">Select City</option>
                                                            <option value="#"><i>Choose a country to list cities</i>
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="postalcode">Postal/Zip Code</label>
                                                    <input class="form-control" id="postalcode" name="postalcode"
                                                        placeholder="Postal/Zip Code" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="postaladdress">Postal Address</label>
                                                    <input class="form-control" id="postaladdress" name="postaladdress"
                                                        placeholder="P.O Box" type="text" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="preview-hr">
                                        <span class="preview-title-lg overline-title">TAX INFO</span>
                                        <div class="row gy-4 align-center">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="taxid">Tax ID</label>
                                                    <input class="form-control" id="taxid" name="taxid"
                                                        placeholder="e.g. BE047727010" type="text" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="contacts">
                                <div class="card-inner">
                                    <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                        <thead>
                                            <tr class="nk-tb-item nk-tb-head">
                                                <th class="nk-tb-col nk-tb-col-check">
                                                    <div
                                                        class="custom-control custom-control-sm custom-checkbox notext">
                                                        <input type="checkbox" class="custom-control-input" id="uid">
                                                        <label class="custom-control-label" for="uid"></label>
                                                    </div>
                                                </th>
                                                <th class="nk-tb-col"><span class="sub-text">Name</span></th>
                                                <th class="nk-tb-col tb-col-md"><span class="sub-text">Job
                                                        Position</span>
                                                </th>
                                                <th class="nk-tb-col tb-col-xl"><span class="sub-text">Email</span></th>
                                                <th class="nk-tb-col tb-col-xl"><span class="sub-text">Phone</span></th>
                                                <th class="nk-tb-col nk-tb-col-tools text-right">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                    <div class="preview-btn-item  col-sm-6 col-lg-3">
                                        <a href="#" class="btn btn-m btn-primary btn-block" data-toggle="modal"
                                            data-target="#modalUsers" style="padding: 0.4375rem 4.125rem;">
                                            <em class="icon ni ni-plus"></em><span>Add Contact</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="meetings">
                                <div class="card-inner">
                                    <div id="calendar" class="nk-calendar"></div>
                                </div>
                            </div>
                            <!-- .nk-block -->
                        </div>
                        <!-- .card-inner -->
                    </div>
                    <!-- .card -->
                </div>
                <div class="nk-block" id="individual-block" style="display: none;">
                    <div class="card card-bordered">
                        <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                            <li class="nav-item active current-page">
                                <a class="nav-link active" href="#company_info" data-toggle="tab"><em
                                        class="icon ni ni-user-fill-c"></em><span>Company</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contacts" data-toggle="tab"><em
                                        class="icon ni ni-users-fill"></em><span>Contacts &
                                        Addresses</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#meetings" data-toggle="tab"><em
                                        class="icon ni ni-calendar-booking"></em><span>Meetings</span></a>
                            </li>
                        </ul><!-- .nav-tabs -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="individual_info">
                                <div class="card-inner">
                                    <h4 class="nk-block-title">Contact Information</h4>
                                </div>
                                <div class="card-inner" style="padding-top: 1.5rem;">
                                    <form method="POST">
                                        <input id="csrf_token" name="csrf_token" type="hidden"
                                            value="IjY2NzI1YTE0YzczZTEyODI0OTRhN2I0OTM1OGY4YjZjYjQyYjgwMmQi.YmPjYw.uOXKKb2nOdUN_IwZULHQu84B2-o">
                                        <span class="preview-title-lg overline-title">BASIC INFO</span>
                                        <div class="row gy-4">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="name">Name</label>
                                                    <input class="form-control" id="name" name="name" placeholder="Name"
                                                        type="text" value="">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label">Title</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control inp_title"
                                                            placeholder="Start typing to select title">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="jobposition">Job Position</label>
                                                    <input class="form-control inp_position" id="jobposition" name="jobposition"
                                                        placeholder="e.g Sales Director" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="phonenumber">Phone Number</label>
                                                    <input class="form-control" id="phonenumber" name="phonenumber"
                                                        placeholder="Phone Number" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="email">Email Address</label>
                                                    <input class="form-control" id="email" name="email"
                                                        placeholder="Email Address" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="website">Website</label>
                                                    <input class="form-control" id="website" name="website"
                                                        placeholder="http://..." type="text" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="preview-hr">
                                        <span class="preview-title-lg overline-title">ADDRESS INFO</span>
                                        <div class="row gy-4">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label">Country</label>
                                                    <div class="form-control-wrap">
                                                        <select id="individual_select_country"
                                                            name="individual_select_country"
                                                            class="form-select select_country" data-search="on">
                                                            <option value="default_option">Select Country</option>
                                                            {% for country in countries %}
                                                            <option value="{{country.id}}">{{country.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label">City</label>
                                                    <div class="form-control-wrap">
                                                        <select id="individual_select_city"
                                                            name="individual_select_city"
                                                            class="form-select select_city" data-search="on">
                                                            <option value="default_option">Select City</option>
                                                            <option value="#"><i>Choose a country to list cities</i>
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="postalcode">Postal/Zip Code</label>
                                                    <input class="form-control" id="postalcode" name="postalcode"
                                                        placeholder="Postal/Zip Code" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="postaladdress">Postal Address</label>
                                                    <input class="form-control" id="postaladdress" name="postaladdress"
                                                        placeholder="P.O Box" type="text" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="preview-hr">
                                        <span class="preview-title-lg overline-title">TAX INFO</span>
                                        <div class="row gy-4 align-center">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="taxid">Tax ID</label>
                                                    <input class="form-control" id="taxid" name="taxid"
                                                        placeholder="e.g. BE047727010" type="text" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="preview-hr">
                                        <div class="row gy-4 align-center">
                                            <div class="col-lg-4">
                                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                                    <li>
                                                        <input class="btn btn-m btn-primary btn-block" id="submit2"
                                                            name="submit2" type="submit" value="Save">
                                                    </li>
                                                    <li>
                                                        <a href="#" data-dismiss="modal"
                                                            class="btn btn-outline-light">Cancel</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- .nk-block-head -->
                        </div><!-- .card-inner -->
                    </div><!-- .card -->
                </div>
            </div>
            <div class="modal-footer">
                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                    <li>
                        <a href="#" class="btn btn-m btn-primary btn-block">SAVE</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">DISCARD</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- .modal -->
<script>
    $.get("/get_partner_titles", function (data) {
        autocomplete(document.getElementsByClassName("inp_title")[0], data)
        return data;
    })

    $.get("/get_partner_tags", function (data) {
        autocomplete(document.getElementsByClassName("inp_tags")[0], data)
        return data;
    })

    $.get("/get_partner_positions", function (data) {
        autocomplete(document.getElementsByClassName("inp_position")[0], data)
        return data;
    })
</script>