{% extends "base.html" %}

{% block content %}
<style>
    .card-bordered {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .hide {
        display: none;
    }

    .w-25 {
        width: 25% !important;
    }

    .og-product-tr {
        display: none;
    }

    .modal-dialog {
        max-width: 90% !important;
    }
</style>
<div class="nk-content-body">
    <div class="nk-content-wrap">
        {% include "purchase/purchase_blockhead.html" %}
        <div class="nk-block">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-fill alert-success alert-icon">
                <em class="icon ni ni-check-circle"></em>
                {{ message }}
                <button class="close" data-dismiss="alert"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form id="new_user" action="{{url_for('purchase.new_request_for_quotation')}}" method="post">
                <div class="card card-preview">
                    <div class="card-inner">
                        {{form.hidden_tag()}}
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Vendor</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control inp_vendor"
                                            placeholder="Start typing to select vendor">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Order Due Date</label>
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-left">
                                            <em class="icon ni ni-calendar"></em>
                                        </div>
                                        <input id="due_date" type="text"
                                            class="form-control date-picker is-click-inside set-due-date"
                                            data-date-format="yyyy-mm-dd">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Time</label>
                                    <div class="form-control-wrap">
                                        <input type="time" id="time" class="form-control is-click-inside set-time"
                                            placeholder="Time">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card card-bordered">
                        <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                            <li class="nav-item active current-page">
                                <a id="lnk_users" class="nav-link active" href="#products" data-toggle="tab">
                                    <em class="icon ni ni-package-fill"></em>
                                    <span>Products</span></a>
                            </li>
                            <li class="nav-item">
                                <a id="lnk_access_rights" class="nav-link" href="#otherinfo" data-toggle="tab">
                                    <em class="icon ni ni-info-i"></em>
                                    <span>Other Information</span></a>
                            </li>
                        </ul><!-- .nav-tabs -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="products">
                                <div class="invoice">
                                    <div class="invoice-bills">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Description</th>
                                                        <th>Quantity</th>
                                                        <th>UoM</th>
                                                        <th>Unit Price</th>
                                                        <th>Taxes</th>
                                                        <th>Sub Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="purchase_body">
                                                    <tr class="og-product-tr is-click-inside">
                                                        <td class="w-25 td_product">
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control inp_products"
                                                                    placeholder="Start typing to select product">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control inp_product_desc">
                                                            <span class="product_description"></span>
                                                        </td>
                                                        <td class="td_quantity">
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control inp_quantity"
                                                                    placeholder="0.00">
                                                            </div>
                                                        </td>
                                                        <td class="td_uom">
                                                            <input type="text" class="form-control inp_uom"
                                                                placeholder="Start typing...">
                                                        </td>
                                                        <td class="td_unit_price">
                                                            <input type="text" class="form-control inp_unit_price"
                                                                placeholder="0.00">
                                                        </td>
                                                        <td class="td_taxes">
                                                        </td>
                                                        <td class="td_subtotal">
                                                            <span class="sub_total"></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr class="hide">
                                                        <td colspan="5"></td>
                                                        <td colspan="1"><b>Untaxed Amount</b></td>
                                                        <td>KES 1,600,000</td>
                                                    </tr>
                                                    <tr class="hide">
                                                        <td colspan="5"></td>
                                                        <td colspan="1"><b>Tax 15%</b></td>
                                                        <td>KES 240,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5"></td>
                                                        <td colspan="1"><b>Total</b></td>
                                                        <td>KES <span class="total">0.00</span></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <div class="preview-btn-item  col-sm-6 col-lg-3">
                                                <a href="#" class="add-a-product" style="color: #017e84;">Add a
                                                    product</a>

                                            </div>
                                            <div class="nk-notes fs-12px text-soft">
                                                <div class="quill-editor">
                                                    <p>Define your terms and conditions</p>
                                                    <textarea name="text" style="display:none"
                                                        class="hiddenArea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .invoice-bills -->
                                </div><!-- .invoice -->
                            </div>
                            <div class="tab-pane" id="otherinfo">
                                <div class="card-inner">
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-label">User Type</label>
                                                <ul class="custom-control-group g-3 align-center flex-wrap">
                                                    {% for user_type in user_types %}
                                                    <li>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input"
                                                                name="user-type" id="{{user_type}}"
                                                                value="{{user_type}}" {% if user_type==user_type.IU
                                                                %}checked {% endif %}>
                                                            <label class="custom-control-label"
                                                                for="{{user_type}}">{{user_type.value}}</label>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        {% for module in modules %}
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-label">{{module.bp_name|upper}}</label>
                                                <div class="form-control-wrap">
                                                    <select id="{{module.id}}" class="form-select set-access"
                                                        data-search="on">
                                                        <option value="#">Select Access</option>
                                                        {% for group in groups %}
                                                        {% if group.module_id == module.id %}
                                                        <option value="{{group.id}}">{{group.name}}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .card-preview -->
            </form>
        </div>
    </div>
    <!-- footer @s -->
    {% include "footer.html" %}
    <!-- footer @e -->
</div>
<div class="modal fade is-click-inside" tabindex="-1" role="dialog" id="AddProductModal">
    <div class="modal-dialog modal-lg is-click-inside" role="document">
        <div class="modal-content is-click-inside">
            <div class="modal-header is-click-inside">
                <h5 class="modal-title is-click-inside">Add Product</h5>
                <a href="#" class="close is-click-inside" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross is-click-inside"></em>
                </a>
            </div>
            <div class="modal-body modal-body-md is-click-inside">
                <div class="col-7 col-sm-4alert alert-success alert-icon selected is-click-inside"
                    style="display: none; max-width: 35% !important; margin-bottom: 2% !important;"></div>
                <div class="nk-block">
                    <form id="new_product" action="/settings/new/product" method="post">
                        <div class="card card-preview">
                            <div class="card-inner">
                                <input id="csrf_token" name="csrf_token" type="hidden"
                                    value="IjY2NzI1YTE0YzczZTEyODI0OTRhN2I0OTM1OGY4YjZjYjQyYjgwMmQi.Yl-7SQ.8y5lEZgGk9ibi0o4O-_HUW4rEpU">
                                <div class="row gy-4">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="form-label">Produt Name</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="name" id="name"
                                                    placeholder="Product name" required="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <ul class="custom-control-group g-3 align-center">
                                        <li>
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="can-be-sold">
                                                <label class="custom-control-label" for="can-be-sold">Can be
                                                    Sold</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="can-be-purchased">
                                                <label class="custom-control-label" for="can-be-purchased">Can be
                                                    Purchased</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card card-bordered">
                                <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                    <li class="nav-item">
                                        <a id="lnk_users" class="nav-link active" href="#gi" data-toggle="tab"><em
                                                class="icon ni ni-lock-alt-fill"></em><span>General
                                                Information</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="lnk_access_rights" class="nav-link" href="#sales" data-toggle="tab"><em
                                                class="icon ni ni-account-setting-fill"></em><span>Sales</span></a>
                                    </li>
                                </ul><!-- .nav-tabs -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="gi">
                                        <div class="card-inner">
                                            <div class="row g-3 align-center">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-label">SETTINGS</label>
                                                        <div class="form-control-wrap">
                                                            <select id="1"
                                                                class="form-select set-access select2-hidden-accessible"
                                                                data-search="on" data-select2-id="1" tabindex="-1"
                                                                aria-hidden="true">
                                                                <option value="#" data-select2-id="2">Select Access
                                                                </option>


                                                                <option value="e8e96379-887b-4d7b-b558-adde472c2f93">
                                                                    Administrator</option>







                                                                <option value="3b13fec1-8a40-4c34-b29b-36a6da1e9be1">
                                                                    Manager</option>



                                                                <option value="001277dc-8768-42fc-884c-b6a9567f0bf1">
                                                                    User</option>























                                                                <option value="788a9529-a58c-4c9e-946c-e3856aea2f67">
                                                                    Administrator</option>



                                                                <option value="a563682b-8dc7-45c0-ac8e-c9775b9f4cc9">
                                                                    Manager</option>



                                                                <option value="84eb5a45-e137-41e3-9915-58877c98d841">
                                                                    User</option>


                                                            </select><span
                                                                class="select2 select2-container select2-container--default"
                                                                dir="ltr" data-select2-id="1"
                                                                style="width: 113.111px;"><span class="selection"><span
                                                                        class="select2-selection select2-selection--single"
                                                                        role="combobox" aria-haspopup="true"
                                                                        aria-expanded="false" tabindex="0"
                                                                        aria-disabled="false"
                                                                        aria-labelledby="select2-1-container"><span
                                                                            class="select2-selection__rendered"
                                                                            id="select2-1-container" role="textbox"
                                                                            aria-readonly="true"
                                                                            title="Select Access">Select
                                                                            Access</span><span
                                                                            class="select2-selection__arrow"
                                                                            role="presentation"><b
                                                                                role="presentation"></b></span></span></span><span
                                                                    class="dropdown-wrapper"
                                                                    aria-hidden="true"></span></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-label">CRM</label>
                                                        <div class="form-control-wrap">
                                                            <select id="2"
                                                                class="form-select set-access select2-hidden-accessible"
                                                                data-search="on" data-select2-id="2" tabindex="-1"
                                                                aria-hidden="true">
                                                                <option value="#" data-select2-id="4">Select Access
                                                                </option>




                                                                <option value="306aef03-7f21-43c8-8431-f00181135d05"
                                                                    data-select2-id="5">Administrator</option>









                                                                <option value="950f2df6-64bf-4a99-8659-6abba655e8d5"
                                                                    data-select2-id="6">Manager</option>





                                                                <option value="d8e22748-0eb3-4352-a0b0-164a3627df27"
                                                                    data-select2-id="7">User</option>






















                                                            </select><span
                                                                class="select2 select2-container select2-container--default"
                                                                dir="ltr" data-select2-id="3"
                                                                style="width: 113.111px;"><span class="selection"><span
                                                                        class="select2-selection select2-selection--single"
                                                                        role="combobox" aria-haspopup="true"
                                                                        aria-expanded="false" tabindex="0"
                                                                        aria-disabled="false"
                                                                        aria-labelledby="select2-2-container"><span
                                                                            class="select2-selection__rendered"
                                                                            id="select2-2-container" role="textbox"
                                                                            aria-readonly="true"
                                                                            title="Select Access">Select
                                                                            Access</span><span
                                                                            class="select2-selection__arrow"
                                                                            role="presentation"><b
                                                                                role="presentation"></b></span></span></span><span
                                                                    class="dropdown-wrapper"
                                                                    aria-hidden="true"></span></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-label">CONTACTS</label>
                                                        <div class="form-control-wrap">
                                                            <select id="3"
                                                                class="form-select set-access select2-hidden-accessible"
                                                                data-search="on" data-select2-id="3" tabindex="-1"
                                                                aria-hidden="true">
                                                                <option value="#" data-select2-id="9">Select Access
                                                                </option>






                                                                <option value="8a10dcf6-954d-485e-959a-93eb3c63a2b2">
                                                                    Administrator</option>









                                                                <option value="885d0c81-f058-426e-bf43-e661386976ea">
                                                                    Manager</option>





                                                                <option value="457fae5d-eecd-4b4f-98c5-519fb3317ee1">
                                                                    User</option>




















                                                            </select><span
                                                                class="select2 select2-container select2-container--default"
                                                                dir="ltr" data-select2-id="8"
                                                                style="width: 113.111px;"><span class="selection"><span
                                                                        class="select2-selection select2-selection--single"
                                                                        role="combobox" aria-haspopup="true"
                                                                        aria-expanded="false" tabindex="0"
                                                                        aria-disabled="false"
                                                                        aria-labelledby="select2-3-container"><span
                                                                            class="select2-selection__rendered"
                                                                            id="select2-3-container" role="textbox"
                                                                            aria-readonly="true"
                                                                            title="Select Access">Select
                                                                            Access</span><span
                                                                            class="select2-selection__arrow"
                                                                            role="presentation"><b
                                                                                role="presentation"></b></span></span></span><span
                                                                    class="dropdown-wrapper"
                                                                    aria-hidden="true"></span></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-label">PURCHASE</label>
                                                        <div class="form-control-wrap">
                                                            <select id="4"
                                                                class="form-select set-access select2-hidden-accessible"
                                                                data-search="on" data-select2-id="4" tabindex="-1"
                                                                aria-hidden="true">
                                                                <option value="#" data-select2-id="11">Select Access
                                                                </option>




















                                                                <option value="34755e2d-2293-43a2-8925-5c61ecd061a6"
                                                                    data-select2-id="12">Administrator</option>



                                                                <option value="ab86dc1f-99ae-4a24-ac3d-8863a76635ef"
                                                                    data-select2-id="13">Manager</option>



                                                                <option value="39fa6ffb-b562-45f4-8aed-5cd351d4ef76"
                                                                    data-select2-id="14">User</option>














                                                            </select><span
                                                                class="select2 select2-container select2-container--default"
                                                                dir="ltr" data-select2-id="10"
                                                                style="width: 113.111px;"><span class="selection"><span
                                                                        class="select2-selection select2-selection--single"
                                                                        role="combobox" aria-haspopup="true"
                                                                        aria-expanded="false" tabindex="0"
                                                                        aria-disabled="false"
                                                                        aria-labelledby="select2-4-container"><span
                                                                            class="select2-selection__rendered"
                                                                            id="select2-4-container" role="textbox"
                                                                            aria-readonly="true"
                                                                            title="Select Access">Select
                                                                            Access</span><span
                                                                            class="select2-selection__arrow"
                                                                            role="presentation"><b
                                                                                role="presentation"></b></span></span></span><span
                                                                    class="dropdown-wrapper"
                                                                    aria-hidden="true"></span></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-label">INVENTORY</label>
                                                        <div class="form-control-wrap">
                                                            <select id="5"
                                                                class="form-select set-access select2-hidden-accessible"
                                                                data-search="on" data-select2-id="5" tabindex="-1"
                                                                aria-hidden="true">
                                                                <option value="#" data-select2-id="16">Select Access
                                                                </option>


























                                                                <option value="8538f394-1e8e-474b-8a83-28f75d79fc11"
                                                                    data-select2-id="17">Administrator</option>



                                                                <option value="629b33c4-d07b-4da9-81b0-aea9e4230b76"
                                                                    data-select2-id="18">Manager</option>



                                                                <option value="786c83c7-24d2-43ce-b046-4d1908335e34"
                                                                    data-select2-id="19">User</option>








                                                            </select><span
                                                                class="select2 select2-container select2-container--default"
                                                                dir="ltr" data-select2-id="15"
                                                                style="width: 113.111px;"><span class="selection"><span
                                                                        class="select2-selection select2-selection--single"
                                                                        role="combobox" aria-haspopup="true"
                                                                        aria-expanded="false" tabindex="0"
                                                                        aria-disabled="false"
                                                                        aria-labelledby="select2-5-container"><span
                                                                            class="select2-selection__rendered"
                                                                            id="select2-5-container" role="textbox"
                                                                            aria-readonly="true"
                                                                            title="Select Access">Select
                                                                            Access</span><span
                                                                            class="select2-selection__arrow"
                                                                            role="presentation"><b
                                                                                role="presentation"></b></span></span></span><span
                                                                    class="dropdown-wrapper"
                                                                    aria-hidden="true"></span></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="preferences">
                                        <div class="card-inner">
                                            <table class="table">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col" style="padding-right: 100px;">Name</th>
                                                        <th scope="col" style="padding-right: 100px;">Model</th>
                                                        <th scope="col">Read Access</th>
                                                        <th scope="col">Write Access</th>
                                                        <th scope="col">Create Access</th>
                                                        <th scope="col">Delete Access</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody_access_rights">

                                                </tbody>
                                            </table>
                                            <div class="preview-btn-item  col-sm-6 col-lg-3">
                                                <a href="#" class="btn btn-m btn-primary btn-block" data-toggle="modal"
                                                    data-target="#modalAccessRights"
                                                    style="padding: 0.4375rem 4.125rem;">
                                                    <em class="icon ni ni-plus"></em><span>Add Record</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .card-preview -->
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                    <li>
                        {% if slug %}
                        <a href="#" class="btn btn-m btn-secondary btn-block submit-access-right">SUBMIT</a>
                        {% else %}
                        <a href="javascript:select_users()"
                            class="btn btn-m btn-secondary btn-block select-user">SELECT</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{url_for('settings.manage_groups')}}" class="btn btn-outline-light"
                            data-dismiss="modal" aria-label="Close">CANCEL</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- .modal -->
<script>
    $.get("/get_partners", function (data) {
        autocomplete(document.getElementsByClassName("inp_vendor")[0], data)
        return data;
    });
</script>
{% include "modals/create_contact.html" %}
{% endblock %}