{% extends "base.html" %}

{% block content %}
<style>
    .badge {
        position: absolute;
        left: 3px;
        top: 3px;
    }

    .og-attribute-tr {
        display: none;
    }
</style>
<div class="nk-content-body">
    <div class="nk-content-wrap">
        {% include "inventory/product_blockhead.html" %}
        <div class="nk-block">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-fill alert-success alert-icon">
                <em class="icon ni ni-check-circle"></em>
                {{ message }}
                <button class="close" data-dismiss="alert"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form id="new_product" action="{{url_for('inventory.create_product')}}" method="post">
                <div class="card card-preview border-0">
                    <div class="card-inner pl-0 pr-0">
                        {{form.hidden_tag()}}
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Product Name</label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control inp_products" name="name" id="name"
                                            placeholder="e.g. HP Chromebook" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <ul class="custom-control-group g-3 align-center">
                                        <li>
                                            <div class="custom-control custom-control-sm custom-checkbox checked">
                                                <input type="checkbox" class="custom-control-input" id="promotion"
                                                    data-toggle="collapse" data-target="#accordion-item-2-1">
                                                <label class="custom-control-label" for="promotion">Promotion</label>
                                            </div>
                                        </li>
                                    </ul>
                                    <div id="accordion-2" class="accordion accordion-s3">
                                        <div class="accordion-item">
                                            <div class="accordion-body collapse" id="accordion-item-2-1"
                                                data-parent="#accordion-2">
                                                <div class="accordion-inner pl-0">
                                                    <div class="row gy-4 pt-2">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Price</label>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-text-hint">
                                                                        <span class="overline-title">KES</span>
                                                                    </div>
                                                                    <input type="number" class="form-control" id="price"
                                                                        placeholder="1.00">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Start Date</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="date" class="form-control"
                                                                        id="start_date">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-label">End Date</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="date" class="form-control"
                                                                        id="end_date">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-bordered margin-0">
                        <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                            <li class="nav-item active current-page">
                                <a id="lnk_generalInfo" class="nav-link active" href="#general_info" data-toggle="tab">
                                    <em class="icon ni ni-info-i"></em>
                                    <span>General Information</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="lnk_attributes" class="nav-link" href="#attr" data-toggle="tab">
                                    <em class="icon ni ni-tile-thumb"></em>
                                    <span>Attributes</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="lnk_attributes" class="nav-link" href="#sales" data-toggle="tab">
                                    <em class="icon ni ni-coins"></em>
                                    <span>Sales</span>
                                </a>
                            </li>
                        </ul><!-- .nav-tabs -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="general_info">
                                <div class="card-inner">
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-label" for="product_type">Product Type</label>
                                                <select id="product_type" name="product_type"
                                                    class="form-select product_type" data-search="on">
                                                    <option value="">Select Product Type</option>
                                                    {% for type in types %}
                                                    <option value="{{type.id}}">{{type.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-label" for="accessory_products">Product
                                                    Category</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" name="category"
                                                        class="form-control inp_category is-click-inside"
                                                        placeholder="Start typing to select category...">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="form-label">Price</label>
                                            <div class="form-control-wrap">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="overline-title lh-3">KES</span>
                                                    </div>
                                                    <input type="text" class="form-control" name="price">
                                                    <div class="input-group-append">
                                                        <span class="overline-title lh-3">(= 3.00 Incl. Taxes)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="form-label">Cost</label>
                                            <div class="form-control-wrap">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="overline-title lh-3">KES</span>
                                                    </div>
                                                    <input type="text" class="form-control" name="cost">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="form-label">Unit of Measure</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control inp_uom"
                                                    aria-label="Text input with segmented dropdown button" name="uom">
                                                <a href="#" class="form-icon form-icon-right is-click-inside"
                                                    data-toggle="">
                                                    <em
                                                        class="d-none d-sm-inline icon ni ni-external is-click-inside"></em>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="form-label">Quantity</label>
                                            <div class="form-control-wrap">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="e.g 1"
                                                        name="quantity">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="form-label">Customer Taxes</label>
                                            <div class="form-control-wrap">
                                                <div class="input-group">
                                                    <input type="text" class="form-control"
                                                        aria-label="Text input with segmented dropdown button"
                                                        name="tax" value="{{company.tax}}%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="attr">
                                <div class="invoice">
                                    <div class="invoice-bills">
                                        <div class="table-responsive is-click-inside">
                                            <table class="table table-striped is-click-inside">
                                                <thead class="is-click-inside">
                                                    <tr class="is-click-inside">
                                                        <th class="is-click-inside">Attribute</th>
                                                        <th class="is-click-inside">Values</th>
                                                        <th class="is-click-inside"></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="tbody is-click-inside" id="attributes_body">
                                                    <tr class="og-attribute-tr is-click-inside">
                                                        <td class="w-25 td_attribute is-click-inside">
                                                            <div class="form-control-wrap is-click-inside dv-attribute">
                                                                <input type="text"
                                                                    class="form-control inp_attribute is-click-inside"
                                                                    placeholder="Start typing to add attribute...">
                                                                <a href="#"
                                                                    class="form-icon form-icon-right is-click-inside"
                                                                    data-toggle="">
                                                                    <em
                                                                        class="d-none d-sm-inline icon ni ni-external is-click-inside"></em>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td class="td_value is-click-inside">
                                                            <input type="text"
                                                                class="form-control inp_value is-click-inside">
                                                        </td>
                                                        <td class="td_delete is-click-inside">
                                                            <a href="#" class="is-click-inside"><em
                                                                    class="icon ni ni-trash is-click-inside"></em></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="preview-btn-item col-sm-6 col-lg-3 is-click-inside">
                                                <a href="#" class="add-attribute add-line is-click-inside"
                                                    style="color: #017e84;">Add
                                                    an
                                                    attribute</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="sales">
                                <div class="card-inner">
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-label" for="optional_products">
                                                    Optional Products
                                                    <em class="icon ni ni-info" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Recommend when 'Adding to Cart'"></em>
                                                </label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control inp_products is-click-inside"
                                                        placeholder="Start typing to add optional products...">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-label" for="optional_products">Point of Sales</label>
                                                <div class="form-control-wrap">
                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="pay-card">
                                                        <label class="custom-control-label" for="pay-card">Available in
                                                            POS</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-label" for="accessory_products">
                                                    Accessory Products
                                                    <em class="icon ni ni-info" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Suggested accessories in the eCommerce cart"></em>
                                                </label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control inp_products is-click-inside"
                                                        placeholder="Start typing to add accessory products...">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-label" for="accessory_products">
                                                    Alternative Products
                                                    <em class="icon ni ni-info" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Displayed in bottom of product pages"></em>
                                                </label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control inp_products is-click-inside"
                                                        placeholder="Start typing to add alternative products...">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- footer @s -->
    {% include "footer.html" %}
    <!-- footer @e -->
</div>
{% include "modals/loading.html" %}
<script>
    $.get("/get_products", function (data) {
        autocomplete(document.getElementsByClassName("inp_products")[0], data)
        return data;
    });

    $.get("/get_UOM", function (data) {
        autocomplete(document.getElementsByClassName("inp_uom")[0], data)
        return data;
    });

    $.get("/get_product_categories", function (data) {
        autocomplete(document.getElementsByClassName("inp_category")[0], data)
        return data;
    })
</script>
{% endblock %}