{% extends "base.html" %}

{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        {% include "inventory/product_blockhead.html" %}
        <div class="nk-block">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-fill alert-success alert-icon">
                <em class="icon ni ni-check-circle"></em>
                {{ message }}
                <button class="close" data-dismiss="alert"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card card-preview border-0">
                <div class="card-inner pl-0 pr-0">
                    <div class="row gy-4">
                        <div class="col-sm-4">
                            <div class="card-title-group">
                                <div class="card-title">
                                    <h6 class="title">
                                        <span class="mr-2"><strong>Product Name:</strong></span>
                                        <span class="mr-2">{{product.name}}</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-title-group">
                                <div class="card-title">
                                    <h6 class="title">
                                        <span class="mr-2"><strong>Model:</strong></span>
                                        <span class="mr-2">
                                            {{product.id|product_model}}
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-bordered margin-0">
                    <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                        <li class="nav-item active current-page">
                            <a id="lnk_generalInfo" class="nav-link active" href="#general_info" data-toggle="tab">
                                <em class="icon ni ni-info-i"></em>
                                <span>General Information</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="lnk_attributes" class="nav-link" href="#attr" data-toggle="tab">
                                <em class="icon ni ni-tile-thumb"></em>
                                <span>Attributes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="lnk_attributes" class="nav-link" href="#product_desc" data-toggle="tab">
                                <em class="icon ni ni-tile-thumb"></em>
                                <span>Product Description</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="lnk_attributes" class="nav-link" href="#sales" data-toggle="tab">
                                <em class="icon ni ni-coins"></em>
                                <span>Sales</span>
                            </a>
                        </li>
                    </ul><!-- .nav-tabs -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="general_info">
                            <div class="card-inner">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-6">
                                        <ul class="ul-items">
                                            <li class="li-items item-header">Product Type</li>
                                            <li class="li-items">
                                                {% if product.type %}
                                                {{product.type.name}}
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="ul-items">
                                            <li class="li-items item-header">Product Category</li>
                                            <li class="li-items">
                                                {% if product.category %}
                                                {{product.category.name}}
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="ul-items">
                                            <li class="li-items item-header">Sales Price</li>
                                            <li class="li-items">
                                                {% if product.price %}
                                                KES&nbsp;{{product.price|numberFormat}}
                                                (= KES {{product.total_price|numberFormat}} Incl. Taxes)
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="ul-items">
                                            <li class="li-items item-header">Cost</li>
                                            <li class="li-items">
                                                {% if product.cost %}
                                                KES&nbsp;{{product.cost|numberFormat}}
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="ul-items">
                                            <li class="li-items item-header">Customer Taxes</li>
                                            <li class="li-items">{{product.tax}}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="ul-items">
                                            <li class="li-items item-header">Unit of Measure</li>
                                            <li class="li-items">{{product.uom.name}}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="ul-items">
                                            <li class="li-items item-header">Quantity</li>
                                            <li class="li-items">
                                                {% if product.quantity %}
                                                {{product.quantity}}
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="attr">
                            <div class="invoice">
                                <div class="invoice-bills">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Attribute</th>
                                                    <th scope="col">Values</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for attribute in attributes %}
                                                <tr>
                                                    <td>
                                                        {{attribute.attribute.name}}
                                                    </td>
                                                    <td>
                                                        {{attribute.value.name}}
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="product_desc">
                            <div class="card-inner">
                                <div class="row g-3 align-center">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="form-label">Product Description</label>
                                            <textarea id="desc" name="description" hidden></textarea>
                                            <div class="form-control-wrap">
                                                <div class="quill-editor">
                                                    <p>{{product.description|safe}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="sales">
                            <div class="card-inner">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label" for="optional_products">
                                                Optional Products
                                                <em class="icon ni ni-info" data-toggle="tooltip" data-placement="top"
                                                    title="Recommend when 'Adding to Cart'"></em>
                                            </label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control inp_products"
                                                    placeholder="Start typing to add optional products...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label" for="optional_products">Point of Sales</label>
                                            <div class="form-control-wrap">
                                                <div class="custom-control custom-control-sm custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="pay-card">
                                                    <label class="custom-control-label" for="pay-card">Available in
                                                        POS</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label" for="accessory_products">
                                                Accessory Products
                                                <em class="icon ni ni-info" data-toggle="tooltip" data-placement="top"
                                                    title="Suggested accessories in the eCommerce cart"></em>
                                            </label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control inp_products"
                                                    placeholder="Start typing to add accessory products...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label" for="accessory_products">
                                                Alternative Products
                                                <em class="icon ni ni-info" data-toggle="tooltip" data-placement="top"
                                                    title="Displayed in bottom of product pages"></em>
                                            </label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control inp_products"
                                                    placeholder="Start typing to add alternative products...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var quill_editor = new Quill(".quill-editor");
    quill_editor.enable(false)
</script>
{% endblock %}